@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Indie+Flower&display=swap');


/* Global style */

body {
  background-color: white;
  font-family: 'Indie Flower', Courier, monospace;
  color: #3D3D3D;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
}

p {
  margin: 0px;
}

/* Presentation area */

h1 {
  font-size: 64px;
  padding-top: 25px;
}

h2 {
  margin: 0px;
  font-size: 24px;
}

#name-area {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

#first-icon-roboto {
  padding-right: 15px;
}

#presentation {
  padding-left: 15px;
}

#uname-input {
  font-size: 24px;
  font-family: 'Indie Flower', Courier, monospace;
  border: none;
  border-bottom: #3D3D3D 1px solid;
  padding: 5px;
  text-align: center;
  margin-top: 1em;
}

#submit-name-btn {
  font-size: 24px;
  font-family: 'Indie Flower', Courier, monospace;
  color: #F6A38E;
  background-color: white;
  border: #F6A38E 2px solid;
  border-radius: 5px;
  padding: 15px, 20px;
  text-align: center;
  margin-bottom: 2em;
  margin-top: 1em;
}


/* Character area */

/* .character-area {
  display: none; 
}*/

#character-area {
  display: none;
  flex-direction: column;
  align-items: center;
}

#character-buttons {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

#lets-play-button {
  display: flex;
  font-size: 24px;
  font-family: 'Indie Flower', Courier, monospace;
  background-color: white;
  border: none;
  padding: 15px, 20px;
  text-align: center;
}

/* Character style */

.roboto-icon {
  background-color: #AAB1A9;
  width: 170px;
  height: auto;
  padding: 15px;
  border-radius: 25%;
}

.btn {
  border-radius: 25%;
}

.btn img {
  width: 100px;
  height: auto;
  padding: 15px;
}

#unicorn {
  background-color: #FDB0D1;
  border: none;
}

#unicorn:hover {
  border: 2px #ff5da2 solid;
}

#teddy {
  background-color: #FFF1AD;
  border: none;
  margin: 0 25px;
}

#teddy:hover {
  border: 2px #fdde47 solid;
}

#dragon {
  background-color: #64A6BD;
  border: none;
}

#dragon:hover {
  border: 2px #0a90bf solid;
}



/* Game area */

#game-msg {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#game-section {
  display: none;
  align-items: center;
  justify-content: center;
}

#user-area {
  display: flex;
  width: 10em;
  flex-direction: column;
  align-items: center;
}

#game-board {
  display: flex;
  width: 10em;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin: 1em;
}

.board-box {
  height: 3em;
  width: 3em;
  border: #3D3D3D 1px solid;
  border-radius: 5px;
  margin: 1px;
  text-align: center;
  line-height: 3em;
}

#roboto-area {
  display: flex;
  width: 10em;
  flex-direction: column;
  align-items: center;
}

#robot-player-icon {
  width: 75px;
  height: auto;
}

#msg-win {
  color: white;
  font-weight: 700;
  font-size: 30px;
}


/* MEDIA QUERIES */ 

    /* On screens that are 1050 px or less - pricelist will center */
  @media screen and (max-width: 450px) {
    #name-area {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    h1 {
      font-size: 48px;
    }
    #game-section {
      flex-direction: column;
    }
    .btn img {
      width: 50px;
    }
    #teddy {
      margin: 0 7px;
    }
    #game-msg {
      margin-bottom: 10px;
    }
  }